
# Alpaca API
ALPACA_API_KEY=your_alpaca_api_key
ALPACA_SECRET_KEY=your_alpaca_secret_key
ALPACA_PAPER=true

# Google OAuth
OAUTH_CLIENT_ID=your_google_oauth_client_id
OAUTH_CLIENT_SECRET=your_google_oauth_client_secret

# Authentication
ALLOWED_EMAIL=your_email@example.com

# Session security
SESSION_SECRET=your_random_secret_key

# just pick a random number or you can generate a strong value with sum like :  openssl rand -hex 32